h1{
    color:black;
    text-align: left;
    font-size: 200%;
}
h2{
    font-size: 300%;
}
body{
    background-image: url("firdausa.jpeg");
    background-repeat: no-repeat;
    background-size: 100%
}  
p{
    background-color: azure;
}
