h1{
    color: red;
    text-align: center;
}
#img{
    text-align: center;
    border-radius: 50%
}
h2{
    color: blue;
}
h3{
    color: blue;
}
h4{
    color: blue;
}
h5{
    color: blue;
}
a{
    color: rgb(160, 187, 221);
}
body{
    background-image: url('me.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}
